<section id="about">
    <div>
        <div class="text-con">
            <h3 class="heading">
                ABOUT ME                        
            </h3>
            <p>
                I have a strong passion for coding with Flask and MySQL due to their versatility and efficiency in developing robust web applications.
            </p>
            <button class="alt-3">
                <a href="/unfinished">
                    EXPLORE
                </a>
            </button>
        </div>
        <div class='image-con separator'>
            <img src="static/img/separator.png"/> 
        </div>
        <div class='flex-wrap'>
            <div class='text-box'>
                <img src="static/img/design.png"/>
                <h5>DESIGN</h5>
                <p class='alt-2'>
                    While I rely on templates sourced from the internet to create designs rather than designing from scratch, I am proficient in customizing and replacing content as needed. I have a good grasp of Figma and can effectively collaborate with web designers to enhance project aesthetics and functionality.
                </p>
            </div>
            <div class='text-box'>
                <img src="static/img/development.png"/>
                <h5>DEVELOPMENT</h5>
                <p class='alt-2'>
                    I prioritize understanding app/web requirements thoroughly before planning, typically mapping out my approach using flowcharts or database schemas, ensuring structured and efficient development.
                </p>
            </div>
            <div class='text-box'>
                <img src="static/img/maintenance.png"/>
                <h5>MAINTENACE</h5>
                <p class='alt-2'>
                    I meticulously ensure the robustness of systems/apps by rigorously testing each feature and exploring different solutions to challenges encountered during development.
                </p>
            </div>
        </div>
        <div class='image-con separator'>
            <img src="static/img/separator.png"/> 
        </div>
    </div>
</section>
