<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="static/img/logo.svg">
    <script src=""></script>
    <title>Stephen Aguilar</title>
</head>
<body>
    <section id="error">
        <div>
            <h3 class="heading">Error</h4>
            <h4>{{ message }}</h4>
            <button class="alt-3"><a href="/">BACK TO HOMEPAGE</a></button>
        </div>
    </section>
    <script src="static/js/script.js"></script>
</body>
</html>