<footer id="footer">
    <div>
        <h6>
            <a href="javascript:void(0);" onclick="scrollToSection('banner')">
                BACK TO TOP
            </a>
        </h6>
        <ul>
            <li>
                <a href="https://www.facebook.com/stephen.joaquin.52" target="_blank">
                    <div class="image-con">
                        <img src="static/img/facebook-ico.svg" alt="" >
                    </div>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/stephen-joaquin-aguilar-347737276/" target="_blank">
                    <div class="image-con">
                        <img src="static/img/linkedIn-ico.svg" alt="">
                    </div>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/stephen_420__" target="_blank">
                    <div class="image-con">
                        <img src="static/img/instagram-ico.svg" alt="">
                    </div>
                </a>
            </li>
            <li>
                <a href="mailto:stephenonline25@gmail.com" target="_blank">
                    <div class="image-con">
                        <img src="static/img/gmail-ico.svg" alt="">
                    </div>
                </a>
            </li>
        </ul>
        <p>@2024 Stephen Joaquin G. Aguilar All Rights Reserved.</p>
    </div>
</footer>
