<section id="it">
    <div>
        <div class='text-con'>
            <h3>
                Information Technology - Student
            </h3>
            <p>
                As an IT student at St. Vincent College of Cabuyao, my journey has been both challenging and rewarding. Having just completed my third year, I've gained a solid foundation in various programming languages including Java, Python, and C++. My coursework also covered database management, which has been essential in understanding data structures and manipulation. This year, I completed my practicum, culminating in a 600-hour internship at Creative Bananas PH, where I worked as a WordPress developer. This hands-on experience allowed me to apply my academic knowledge to real-world projects, enhancing my skills and preparing me for future endeavors in the IT industry.
            </p>
            <button class="alt-2">
                <a href="/unfinished">
                    READ MORE
                </a>
            </button>
        </div>
        <div class='image-con'>
            <img src="static/img/IT.svg" />
        </div>
    </div>
</section>
