<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="static/img/logo.svg">
    <title>Stephen Aguilar</title>
</head>
<body>
    <div id="loading-screen">
        <img src="static/img/loading.gif" alt="">
    </div>
    {% block body %}{% endblock %}
    <script src="static/js/script.js"></script>
</body>
</html>


