<section id="portfolio">
    <div>
        <h3 class="heading">PORTFOLIO</h3>
        <div class="portfolio-con">
            <p class="alt-2">HOSTED</p>
            <div class="images-con">
                <div class="image-con">
                    <img src="static/img/se-client.jpg" alt="">
                    <div class="text-con">
                        <h4>Digital Sports Monitoring - client</h4>
                        <p class="subtitle">Sports Equipment Management in React.js (Using Flask-REST API)</p>
                        <a href="https://inamonanymous.github.io/SE-Client" target="_blank">
                            <button class="alt-2">DEMO</button>
                        </a>
                    </div>
                </div>
                <div class="image-con">
                    <img src="static/img/SE-server.jpg" alt="">
                    <div class="text-con">
                        <h4>Digital Sports Monitoring - server</h4>
                        <p class="subtitle">Sports Equipment Management in Flask (Using MySQL database)</p>
                        <a href="https://panotpogi123.pythonanywhere.com" target="_blank">
                            <button class="alt-2">DEMO</button>
                        </a>
                    </div>
                </div>
            </div>
            <p class="alt-3">And many more to come!</p>
        </div>
    </div>
</section>
