<section id="skills">
    <div>
        <h3 class="heading">
            SKILLS
        </h3>
        <div class="skills-con">
            <h3>USING NOW:</h3>
            <div class="images-con">
                <div class="image-con hide-phone">
                    <img src="static/img/html-icon.svg" alt="">
                    <p>HTML</p>
                </div>
                <div class="image-con hide-phone">
                    <img src="static/img/css-icon.svg" alt="">
                    <p>CSS</p>
                </div>
                <div class="image-con">
                    <img src="static/img/js-icon.svg" alt="">
                    <p>JAVASCRIPT</p>
                </div>
                <div class="image-con hide-phone">
                    <img src="static/img/python-icon.svg" alt="">
                    <p>PYTHON</p>
                </div>
                <div class="image-con">
                    <img src="static/img/flask-icon.svg" alt="">
                    <p>FLASK</p>
                </div>
                <div class="image-con">
                    <img src="static/img/mysql-icon.svg" alt="">
                    <p>MySQL</p>
                </div>
                <div class="image-con">
                    <img src="static/img/wordpress-icon.svg" alt="">
                    <p>WORDPRESS</p>
                </div>
                <div class="image-con">
                    <img src="static/img/git-icon.svg" alt="">
                    <p>GIT</p>
                </div>
            </div>
        </div>                
        <div class="skills-con hide-phone">
            <h3>LEARNING NOW:</h3>
            <div class="images-con">
                <div class="image-con">
                    <img src="static/img/react-icon.svg" alt="">
                    <p>REACT</p>
                </div>
                <div class="image-con">
                    <img src="static/img/aws-icon.svg" alt="">
                    <p>AMAZON WEB SERVICES</p>
                </div>
                <div class="image-con">
                    <img src="static/img/mongo-icon.svg" alt="">
                    <p>MONGODB</p>
                </div>
                <div class="image-con">
                    <img src="static/img/django-icon.svg" alt="">
                    <p>DJANGO</p>
                </div>
            </div>
        </div>                
        <div class="skills-con hide-phone">
            <h3>OTHER SKILLS:</h3>
            <div class="images-con">
                <div class="image-con">
                    <img src="static/img/php-icon.svg" alt="">
                    <p>PHP</p>
                </div>
                <div class="image-con">
                    <img src="static/img/java-icon.svg" alt="">
                    <p>JAVA</p>
                </div>
                <div class="image-con">
                    <img src="static/img/jquery-icon.svg" alt="">
                    <p>JQUERY</p>
                </div>
                <div class="image-con">
                    <img src="static/img/figma-icon.svg" alt="">
                    <p>FIGMA</p>
                </div>
            </div>
        </div>                
    </div>
</section>
